{:main argyou-homepage.core, :asset-path "js", :output-to "resources/public/js/main.js", :output-dir "resources/public/js", :verbose true, :optimizations :none, :source-map-timestamp true, :preloads [figwheel.connect], :external-config #:figwheel{:config {:build-id "dev", :websocket-url "ws://localhost:3449/figwheel-ws"}}}